.body {
    margin: 10px;
}

button {
    margin-top: 2px;
}

.card-ans {
    margin: 5px;
    border-style: solid;
    border-color: green;
}

.card-nans {
    margin: 5px;
    border-style: solid;
    border-color: maroon;
}

.card-title a {
    color: black;
}

.edit-area {
    display: none;
}

.info {
    color: #777777;
}

.heart {
    cursor: pointer;
}

.not-liked {
    color: #dbdbdb;
}

.liked {
    color: red;
}

.post-comment:hover {
    text-decoration: underline;
    cursor: pointer;
}